html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body  {
  height: 100vh;
  margin: 0;
  background-color: rgb(235, 213, 235);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body::before  {
  content: "";
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main  {
  min-width: 280px;
  width: 35%;
  height: 70%;
}

.accordion  {
  background-color: white;
  border-radius: 4%;
  text-align: center;
  padding: 20px;
}

.question {
  margin: 20px 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.q-text {
  max-height: 40px;
  display: inline;
  text-align: left;
  font-family: Roboto, sans-serif;
  align-content: center;
  margin: 0 0;
}

.q-text:hover {
  color: blueviolet;
  cursor: pointer;
}

h2  {
  margin: 20px  20px;
  text-align: left;
  font-size: 3rem;
  font-family: Roboto, sans-serif;
}

.btn  {
  background-color: transparent;
  border: none;
  cursor: pointer;
  max-height: 35px;
}

.answer {
  grid-column: span 2;
  text-align: left;
  width: 90%;
  font-family: Roboto, sans-serif;
  margin: 0 0;
  color: rgb(172, 165, 165);
}

.hidden {
  display: none;
}

@media (max-width: 400px) {
  main  {
    min-width: 80%;
  }
}